.mainheaddiv {
  display: flex;
  justify-content: space-between;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  margin: 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  margin-right: 70px;
  margin-top: 10px;
  align-items: center;
}
.navitem {
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: 150;
  margin-top: 18px;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.logo {
  margin-left: 40px;
}
.headbtn {
  font-size: 10px;
  font-weight: 300;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 1px;
  border-style: inset;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-color: rgb(0, 183, 255);
  color: rgb(0, 183, 255);
  display: flex;
  justify-content: space-between;
}
.contact {
  margin-top: 15px;
  margin-left: 5px;
  color: rgb(0, 183, 255);
}
.navitem:hover {
  color: white;
  background-color: black;
  padding: 15px;
  border-style: inset;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
}
.headbtn:hover {
  color: white;
  background: rgb(0, 183, 255);
  border: rgb(0, 183, 255);
}
